force-app/main/default/flows/proxyHttp1.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>doProxyCall</name>
        <label>doProxyCall</label>
        <locationX>164</locationX>
        <locationY>300</locationY>
        <actionName>HttpApexProxy</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>ShowRes</targetReference>
        </connector>
        <inputParameters>
            <name>method</name>
            <value>
                <stringValue>GET</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>headerNameList</name>
            <value>
                <elementReference>headerNameList</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>headerValueList</name>
            <value>
                <elementReference>headerValueList</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>namedCredentialName</name>
            <value>
                <stringValue>Heroku_req_bin</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>relativePath</name>
            <value>
                <stringValue>1nfct4n1</stringValue>
            </value>
        </inputParameters>
        <outputParameters>
            <assignToReference>retVal</assignToReference>
            <name>output</name>
        </outputParameters>
    </actionCalls>
    <apiVersion>49.0</apiVersion>
    <assignments>
        <name>headerAssignment</name>
        <label>headerAssignment</label>
        <locationX>396</locationX>
        <locationY>187</locationY>
        <assignmentItems>
            <assignToReference>headerNameList</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>cHeadFlow1_name</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>headerValueList</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>cHeadFlow1_val</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>doProxyCall</targetReference>
        </connector>
    </assignments>
    <interviewLabel>proxyHttp1 {!$Flow.CurrentDateTime}</interviewLabel>
    <label>proxyHttp1</label>
    <processType>Flow</processType>
    <screens>
        <name>ShowRes</name>
        <label>ShowRes</label>
        <locationX>209</locationX>
        <locationY>432</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>returnedFromServ</name>
            <fieldText>{!retVal}</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>start</name>
        <label>start</label>
        <locationX>223</locationX>
        <locationY>68</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>headerAssignment</targetReference>
        </connector>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <startElementReference>start</startElementReference>
    <status>Active</status>
    <variables>
        <name>headerNameList</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>headerValueList</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>retVal</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>retValList</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
